<div id="page-content-dashboard">
  <div class="twelve column"><h4>General Statistics</h4></div>
    <div class="row">
      <div class="three columns">
        <div class="total-views-count">
          <p>300,000</p>
          <h6>Total Views</h6>
        </div>
      </div>
        <div class="three columns">
          <div class="total-subscribers-count">
          <p>24,000</p>
          <h6>Total Subscribers</h6>
          </div>
        </div>
        <div class="three columns">
          <div class="total-videos-count">
            <p>4,000</p>
            <h6>Total Views</h6>
          </div>
        </div>
        <div class="three columns">
          <div class="total-revenue-count">
            <p>$192.00</p>
            <h6>Total Revenue</h6>
          </div>
        </div>
    </div>

    <table class="u-full-width">
      <thead>
        <tr>
          <th>Recent Videos</th>
          <th>Total Views</th>
          <th>Total Comments</th>
          <th>Total Likes / Dislikes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dave Gamache</td>
          <td>26</td>
          <td>Male</td>
          <td>San Francisco</td>
        </tr>
        <tr>
          <td>Dwayne Johnson</td>
          <td>42</td>
          <td>Male</td>
          <td>Hayward</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
