<div class="container">

  <div class="row">
    <div class="twelve column">
      <h4>Revenue Statistics</h4>
    </div>
  </div>

  <div class="row">
    <div class="tweleve columns">
      <div class="total-revenue-count">
        <p>$192.00</p>
        <h6>Total Revenue of</h6>
      </div>
    </div>
  </div>

  <div class="row">
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Month</th>
          <th>Earning</th>
          <th>Paid</th>
          <th>Owed</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mar 2015</td>
          <td>$0.00</td>
          <td>None</td>
          <td>None</td>
        </tr>
        <tr>
          <td>Feb 2015</td>
          <td>$0.00</td>
          <td>None</td>
          <td>None</td>
        </tr>
        <tr>
          <td>Jan 2015</td>
          <td>$0.00</td>
          <td>None</td>
          <td>None</td>
        </tr>
        <tr>
          <td>Dec 2014</td>
          <td>$0.00</td>
          <td>None</td>
          <td>None</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
