.total-views-count,
.total-subscribers-count,
.total-videos-count,
.total-revenue-count, {
  text-align: center;
  color: $white;
  p { padding: 15px; font-size: 2.3rem; }
  h6 {
    margin-top: -25px;
    padding: 15px;
    font-size: 1.8rem;
  }
}

.total-views-count {
  p { background: #d24236; }
  h6 { background: #DC4437; }
}

.total-subscribers-count {
  p { background: #edb007; }
  h6 { background: #F5B400; }
}

.total-videos-count {
  p { background: #3775eb; }
  h6 { background: #3A7AF3; }
}

.total-revenue-count {
  p { background: #119857; }
  h6 { background: #109D59; }
}
