#sidebar_navigation {
  top: 0;
  height: 100%;
  width: 100px;
  background: $highlight;
  position: fixed;
  color: $white;
  text-align: center;
  .logo {
    padding: 50px 0;
    font-size: 1.45rem;
    background: $dark;
  }
  .link {
    padding: 10px 15px;
    float: left;
    width: inherit;
    &:hover {
      background: $highlight-dark;
    }
  }
  .sign-out {
    margin-top: 211%;
    &:hover {
      background: $dark;
    }
  }
  .link i {
    float: left;
    font-size: 1.6rem;
    margin: 10px auto;
    padding: 0 28px;
  }
  .revenue {
    padding: 5px 20px;
  }
  a {
    color: $white;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 20px 0;
  }
}
