#sidebar_navigation {
  top: 0;
  height: 100%;
  width: 100px;
  background: $highlight;
  position: fixed;
  color: $white;
  text-align: center;
  hr {
    height: 1px;
    background: $highlight-dark;
    margin-top: 30px;
  }
  .logo {
    height: 120px;
    width: inherit;
    padding: 25px;
    background: url("/assets/images/animus_logo.png") center center;
    background-size: cover;
    background: $dark;
  }
  .link {
    padding: 10px 15px;
    float: left;
    width: inherit;
    &:hover {
      background: $highlight-dark;
    }
  }
  .account-settings {
    margin-top: 100%;
    &:hover {
      background: $dark;
    }
  }
  .sign-out {
    padding-top: 0;
    margin-top: 23%;
    &:hover {
      background: $dark;
    }
  }
  .link i {
    float: left;
    font-size: 1.6rem;
    margin: 10px auto;
    padding: 0 28px;
  }
  .revenue {
    padding: 5px 20px;
  }
  a {
    color: $white;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 20px 0;
  }
}
